/* ========== Text Styles ========== */
hr { color: #000000}
.main-content, .main-content table span.rvts0 /* Normal text */
{
 font-size: 10pt;
 font-family: 'Arial', 'Helvetica', sans-serif;
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.rvts1 /* Heading */
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts2 /* Subheading */
{
 font-weight: bold;
 color: #000080;
}
span.rvts3 /* Keywords */
{
 font-style: italic;
 color: #800000;
}
a.rvts4, span.rvts4 /* Jump 1 */
{
 color: #008000;
 text-decoration: underline;
}
a.rvts5, span.rvts5 /* Jump 2 */
{
 color: #008000;
 text-decoration: underline;
}
span.rvts6
{
 font-size: 12pt;
 font-family: 'Inter';
 color: #000000;
}
span.rvts7
{
 font-size: 12pt;
 font-family: 'Inter';
 font-weight: bold;
 color: #0000ff;
}
span.rvts8
{
 font-size: 12pt;
 font-family: 'Inter';
 font-weight: bold;
 color: #000080;
}
span.rvts9
{
 font-size: 12pt;
 font-family: 'Inter';
 font-style: italic;
 color: #800000;
}
a.rvts10, span.rvts10
{
 font-size: 12pt;
 font-family: 'Inter';
 color: #008000;
 text-decoration: underline;
}
span.rvts11
{
 font-size: 42pt;
 font-family: 'Inter';
 color: #000000;
}
span.rvts12 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #c0c0c0;
}
a.rvts13, span.rvts13 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #6666ff;
 text-decoration: underline;
}
span.rvts14
{
 font-size: 12pt;
 font-family: 'Segoe UI';
 color: #ff0000;
}
span.rvts15
{
 font-size: 12pt;
 font-family: 'Inter';
 font-weight: bold;
 color: #ff0000;
}
span.rvts16
{
 font-size: 16pt;
 font-family: 'Inter';
 font-weight: bold;
 color: #000000;
}
a.rvts17, span.rvts17
{
 font-size: 12pt;
 font-family: 'Inter';
 color: #007bbf;
 text-decoration: underline;
}
span.rvts18
{
 font-size: 12pt;
 font-family: 'Inter';
 font-weight: bold;
 color: #000000;
}
span.rvts19
{
 font-size: 12pt;
 font-family: 'Courier New', 'Courier', monospace;
 font-weight: bold;
 color: #000000;
}
span.rvts20
{
 font-size: 12pt;
 font-family: 'Inter';
 color: #007bbf;
}
span.rvts21
{
 font-size: 12pt;
 font-family: 'Inter';
 font-weight: bold;
}
span.rvts22
{
 font-size: 12pt;
 font-family: 'Inter';
 font-weight: bold;
 color: #007bbf;
}
span.rvts23
{
 font-size: 12pt;
 font-family: 'Inter';
 color: #007bbf;
}
span.rvts24
{
 font-size: 12pt;
 font-family: 'Inter';
 color: ;
}
span.rvts25
{
 font-size: 12pt;
 font-family: 'Inter';
 font-style: italic;
 color: ;
}
span.rvts26
{
 font-size: 12pt;
 font-family: 'Inter';
 font-weight: bold;
 color: ;
}
span.rvts27
{
 font-size: 12pt;
 font-family: 'Inter';
 color: #ff0000;
}
span.rvts28
{
 font-size: 12pt;
 font-family: 'Inter';
 font-weight: bold;
 color: #007bbf;
}
a.rvts29, span.rvts29
{
 font-size: 12pt;
 font-family: 'Inter';
 color: #007bbf;
 text-decoration: underline;
}
a.rvts29:hover { color: #007bbf; }
span.rvts30
{
 font-size: 14pt;
 font-family: 'Inter';
 font-weight: bold;
 color: #000000;
}
span.rvts31
{
 font-size: 12pt;
 font-family: 'Inter';
 color: #333333;
 background-color: #ffffff;
}
span.rvts32
{
 font-size: 12pt;
 font-family: 'Inter';
 font-weight: bold;
 color: #333333;
 background-color: #ffffff;
}
span.rvts33
{
 font-size: 12pt;
 font-family: 'Inter';
 font-weight: bold;
}
span.rvts34
{
 font-size: 12pt;
 font-family: 'Inter';
}
span.rvts35
{
 font-size: 12pt;
 font-family: 'Inter';
 font-style: italic;
}
a.rvts36, span.rvts36
{
 font-size: 12pt;
 font-family: 'Inter';
 text-decoration: none;
}
span.rvts37
{
 font-size: 12pt;
 font-family: 'Inter';
 font-weight: bold;
 color: #f0b400;
}
span.rvts38
{
 font-size: 12pt;
 font-family: 'Inter';
 color: #f0b400;
}
span.rvts39
{
 font-size: 12pt;
 font-family: 'Inter';
 font-style: italic;
 font-weight: bold;
}
a.rvts40, span.rvts40
{
 font-size: 12pt;
 font-family: 'Inter';
 color: ;
 text-decoration: underline;
}
span.rvts41
{
 font-size: 12pt;
 font-family: 'Inter';
 font-weight: bold;
 color: ;
}
span.rvts42
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #ffffee;
}
a.rvts43, span.rvts43
{
 font-size: 12pt;
 font-family: 'Inter';
 color: #000000;
 text-decoration: none;
}
span.rvts44
{
 font-size: 12pt;
 font-family: 'Courier New', 'Courier', monospace;
 font-weight: bold;
 color: ;
}
span.rvts45
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #000000;
}
span.rvts46
{
 font-size: 12pt;
 font-family: 'Inter';
 color: #000000;
}
span.rvts47
{
 font-size: 14pt;
 font-family: 'Inter';
 font-weight: bold;
 color: #ffffff;
}
span.rvts48
{
 font-size: 14pt;
 font-family: 'Inter';
 font-weight: bold;
 color: ;
}
span.rvts49
{
 font-size: 9pt;
 font-family: 'Inter';
 font-weight: bold;
 color: ;
}
span.rvts50
{
 font-size: 9pt;
 font-family: 'Inter';
 color: #000000;
}
span.rvts51
{
 font-size: 9pt;
 font-family: 'Inter';
 color: ;
}
span.rvts52
{
 font-size: 7pt;
 font-family: 'Inter';
 color: #000000;
}
span.rvts53
{
 font-size: 7pt;
 font-family: 'Inter';
 color: ;
}
a.rvts54, span.rvts54
{
 font-size: 9pt;
 font-family: 'Inter';
 color: #007bbf;
 text-decoration: underline;
}
span.rvts55
{
 font-size: 9pt;
 font-family: 'Inter';
 color: #000000;
}
span.rvts56
{
 font-size: 12pt;
 font-family: 'Inter';
 color: #ff0000;
}
span.rvts57
{
 font-size: 12pt;
 font-family: 'Courier New', 'Courier', monospace;
 color: ;
}
span.rvts58
{
 font-size: 12pt;
 font-family: 'Inter';
 font-weight: bold;
 color: #ff0000;
}
span.rvts59
{
 font-size: 12pt;
 font-family: 'Courier New', 'Courier', monospace;
 color: #007bbf;
}
a.rvts60, span.rvts60
{
 font-size: 12pt;
 font-family: 'Inter';
 font-weight: bold;
 color: #007bbf;
 text-decoration: underline;
}
a.rvts61, span.rvts61
{
 font-size: 12pt;
 font-family: 'Inter';
 font-weight: bold;
 color: #007bbf;
 text-decoration: underline;
}
span.rvts62
{
 font-size: 18pt;
 font-family: 'Inter';
 font-weight: bold;
 color: #000000;
}
span.rvts63
{
 font-size: 12pt;
 font-family: 'Inter';
 color: #007bbf;
 text-decoration: underline;
}
a.rvts64, span.rvts64
{
 font-size: 12pt;
 font-family: 'Inter';
 color: ;
 text-decoration: none;
}
span.rvts65
{
 font-size: 12pt;
 font-family: 'Courier New', 'Courier', monospace;
 color: #007bbf;
}
span.rvts66
{
 font-size: 12pt;
 font-family: 'Inter';
 font-style: italic;
 font-weight: bold;
 color: ;
}
span.rvts67
{
 font-size: 14pt;
 font-family: 'Inter';
 font-weight: bold;
}
span.rvts68
{
 font-size: 13pt;
 font-family: 'Inter';
 font-weight: bold;
}
span.rvts69
{
 font-size: 12pt;
 font-family: 'Inter';
 font-weight: bold;
 color: #ffff00;
 background-color: #000000;
}
span.rvts70
{
 font-size: 12pt;
 font-family: 'Inter';
 font-weight: bold;
 color: #ff0000;
 background-color: #000000;
}
span.rvts71
{
 font-size: 12pt;
 font-family: 'Courier New', 'Courier', monospace;
 color: #000000;
}
span.rvts72
{
 font-size: 12pt;
 font-family: 'Courier New', 'Courier', monospace;
 font-style: italic;
 color: #000000;
}
span.rvts73
{
 font-size: 12pt;
 font-family: 'Inter';
 color: #000000;
 background-color: #f7f7f7;
}
span.rvts74
{
 font-size: 12pt;
 font-family: 'Inter';
 color: #3a87ad;
}
/* ========== Para Styles ========== */
p,ul,ol /* Paragraph Style */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps1 /* Centered */
{
 text-align: center;
}
.rvps2
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
}
.rvps3
{
 text-align: center;
}
.rvps4 /* Paragraph Style */
{
 text-align: center;
 border-color: #c0c0c0;
 border-style: solid;
 border-width: 1px;
 border-right: none;
 border-left: none;
 padding: 2px 0px 2px 0px;
 margin: 7px 0px 7px 0px;
}
.rvps5
{
 margin: 0px 12px 0px 12px;
}
.rvps6
{
 text-align: center;
}
.rvps7
{
 text-align: justify;
 text-align-last: auto;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps8
{
}
.rvps9
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 7px 0px 7px 32px;
}
.rvps10
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
}
.rvps11
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 7px 0px 7px 0px;
}
.rvps12
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 0px 0px 0px 24px;
}
.rvps13
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 0px 0px 0px 48px;
}
.rvps14
{
}
.rvps15
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 7px 4px 7px 4px;
}
.rvps16
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 1px 1px 1px 1px;
}
.rvps17
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 0px 0px 0px 72px;
}
.rvps18
{
 text-align: center;
 margin: 7px 0px 7px 0px;
}
.rvps19
{
 text-align: justify;
 text-align-last: auto;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 15px 0px 15px 0px;
}
.rvps20
{
 text-align: justify;
 text-align-last: auto;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 33px 0px 33px 0px;
}
.rvps21
{
 text-align: justify;
 text-align-last: auto;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps22
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
}
.rvps23
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 0px 0px 13px 0px;
}
.rvps24
{
 margin: 0px 0px 0px 24px;
}
.rvps25
{
 text-align: center;
 margin: 0px 0px 0px 24px;
}
.rvps26
{
 text-align: center;
 margin: 0px 0px 0px 48px;
}
.rvps27
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 line-height: 1.15;
 margin: 0px 0px 13px 0px;
}
.rvps28
{
 text-align: justify;
 text-align-last: auto;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 19px 0px 19px 0px;
}
.rvps29
{
 text-align: justify;
 text-align-last: auto;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 27px 0px 27px 0px;
}
.rvps30
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 7px 0px 7px 0px;
}
.rvps31
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 0px 0px 0px 16px;
}
.rvps32
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 7px 0px 7px 24px;
}
.rvps33
{
 text-align: center;
 margin: 0px 0px 0px 16px;
}
.rvps34
{
 text-align: justify;
 text-align-last: auto;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 19px 0px 19px 0px;
}
.rvps35
{
 text-align: center;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 27px 0px 27px 0px;
}
.rvps36
{
 text-align: justify;
 text-align-last: auto;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 24px 0px 24px 0px;
}
.rvps37
{
 text-align: justify;
 text-align-last: auto;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 18px 0px 18px 0px;
}
.rvps38
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
}
.rvps39
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 1px 1px 1px 1px;
}
.rvps40
{
 text-align: justify;
 text-align-last: auto;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 19px 0px 19px 0px;
}
.rvps41
{
 text-align: center;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 24px 0px 24px 0px;
}
.rvps42
{
 text-align: center;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps43
{
 margin: 7px 0px 7px 0px;
}
/* ========== Lists ========== */
.list0 {text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside; list-style-type: decimal;}
.list1 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: decimal;}
.list2 {text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside; list-style-type: disc;}
.list3 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: circle;}
.list4 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: square;}
.list5 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: disc;}
.list6 {text-indent: 0px; padding: 0; margin: 0 0 0 0px; list-style-position: inside; list-style-type: disc;}
.list7 {text-indent: 0px; padding: 0; margin: 0 0 0 0px; list-style-position: inside; list-style-type: circle;}
.list8 {text-indent: 0px; padding: 0; margin: 0 0 0 0px; list-style-position: inside; list-style-type: square;}
.list9 {text-indent: 0px; padding: 0; margin: 0 0 0 32px; list-style-position: outside; list-style-type: disc;}
.list10 {text-indent: 0px; padding: 0; margin: 0 0 0 32px; list-style-position: outside; list-style-type: circle;}
.list11 {text-indent: 0px; padding: 0; margin: 0 0 0 32px; list-style-position: outside; list-style-type: square;}
.list12 {text-indent: 0px; padding: 0; margin: 0 0 0 0px; list-style-position: inside;}
.list13 {text-indent: 0px; padding: 0; margin: 0 0 0 80px; list-style-position: outside; list-style-type: disc;}
.list14 {text-indent: 0px; padding: 0; margin: 0 0 0 80px; list-style-position: outside; list-style-type: square;}
.list15 {text-indent: 0px; padding: 0; margin: 0 0 0 40px; list-style-position: outside;}
.list16 {text-indent: 0px; padding: 0; margin: 0 0 0 40px; list-style-position: outside; list-style-type: circle;}
.list17 {text-indent: 0px; padding: 0; margin: 0 0 0 40px; list-style-position: outside; list-style-type: square;}
.list18 {text-indent: 0px; padding: 0; margin: 0 0 0 40px; list-style-position: outside; list-style-type: disc;}
.list19 {text-indent: 5px; padding: 0; margin: 0 0 0 47px; list-style-position: outside; list-style-type: disc;}
.list20 {text-indent: 0px; padding: 0; margin: 0 0 0 40px; list-style-position: outside; list-style-type: decimal;}
