/* ========== Text Styles ========== */
hr { color: #000000}
.main-content, .main-content table span.rvts0 /* Normal text */
{
 font-size: 10pt;
 font-family: 'Arial', 'Helvetica', sans-serif;
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.rvts1 /* Heading */
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts2 /* Subheading */
{
 font-weight: bold;
 color: #000080;
}
span.rvts3 /* Keywords */
{
 font-style: italic;
 color: #800000;
}
a.rvts4, span.rvts4 /* Jump 1 */
{
 color: #008000;
 text-decoration: underline;
}
a.rvts5, span.rvts5 /* Jump 2 */
{
 color: #008000;
 text-decoration: underline;
}
span.rvts6
{
 font-size: 12pt;
 font-family: 'Inter';
 color: #000000;
}
span.rvts7
{
 font-size: 12pt;
 font-family: 'Inter';
 font-weight: bold;
 color: #0000ff;
}
span.rvts8
{
 font-size: 12pt;
 font-family: 'Inter';
 font-weight: bold;
 color: #000080;
}
span.rvts9
{
 font-size: 12pt;
 font-family: 'Inter';
 font-style: italic;
 color: #800000;
}
a.rvts10, span.rvts10
{
 font-size: 12pt;
 font-family: 'Inter';
 color: #008000;
 text-decoration: underline;
}
span.rvts11
{
 font-size: 42pt;
 font-family: 'Inter';
 color: #000000;
}
span.rvts12 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #c0c0c0;
}
a.rvts13, span.rvts13 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #6666ff;
 text-decoration: underline;
}
span.rvts14
{
 font-size: 12pt;
 font-family: 'Segoe UI';
 color: #ff0000;
}
span.rvts15
{
 font-size: 12pt;
 font-family: 'Inter';
 font-weight: bold;
 color: #ff0000;
}
span.rvts16
{
 font-size: 12pt;
 font-family: 'Inter';
 color: #007bbf;
}
span.rvts17
{
 font-size: 12pt;
 font-family: 'Inter';
 font-weight: bold;
}
span.rvts18
{
 font-size: 12pt;
 font-family: 'Inter';
 font-weight: bold;
 color: #007bbf;
}
span.rvts19
{
 font-size: 12pt;
 font-family: 'Inter';
 color: #007bbf;
}
span.rvts20
{
 font-size: 12pt;
 font-family: 'Inter';
 color: ;
}
span.rvts21
{
 font-size: 12pt;
 font-family: 'Inter';
 font-style: italic;
 color: ;
}
span.rvts22
{
 font-size: 12pt;
 font-family: 'Inter';
 font-weight: bold;
 color: ;
}
a.rvts23, span.rvts23
{
 font-size: 12pt;
 font-family: 'Inter';
 color: #007bbf;
 text-decoration: underline;
}
span.rvts24
{
 font-size: 12pt;
 font-family: 'Inter';
 font-weight: bold;
 color: #000000;
}
span.rvts25
{
 font-size: 12pt;
 font-family: 'Courier New', 'Courier', monospace;
 font-weight: bold;
 color: #000000;
}
span.rvts26
{
 font-size: 12pt;
 font-family: 'Inter';
 color: #ff0000;
}
span.rvts27
{
 font-size: 12pt;
 font-family: 'Inter';
 font-weight: bold;
 color: #007bbf;
}
a.rvts28, span.rvts28
{
 font-size: 12pt;
 font-family: 'Inter';
 color: #007bbf;
 text-decoration: underline;
}
a.rvts28:hover
{
 color: #007bbf;
}
span.rvts29
{
 font-size: 12pt;
 font-family: 'Courier New', 'Courier', monospace;
 color: #000000;
}
span.rvts30
{
 font-size: 12pt;
 font-family: 'Inter';
 color: #333333;
 background-color: #ffffff;
}
span.rvts31
{
 font-size: 12pt;
 font-family: 'Inter';
 font-weight: bold;
 color: #333333;
 background-color: #ffffff;
}
span.rvts32
{
 font-size: 12pt;
 font-family: 'Inter';
 font-weight: bold;
 color: #000000;
}
span.rvts33
{
 font-size: 12pt;
 font-family: 'Inter';
 color: #000000;
}
span.rvts34
{
 font-size: 13pt;
 font-family: 'Inter';
 color: ;
}
span.rvts35
{
 font-size: 13pt;
 font-family: 'Inter';
 font-weight: bold;
 color: ;
}
span.rvts36
{
 font-size: 13pt;
 font-family: 'Inter';
 color: #333333;
 background-color: #ffffff;
}
span.rvts37
{
 font-size: 13pt;
 font-family: 'Inter';
 color: #000000;
}
a.rvts38, span.rvts38
{
 font-size: 13pt;
 font-family: 'Inter';
 font-weight: bold;
 color: #00a5ff;
 text-decoration: underline;
}
span.rvts39
{
 font-size: 8pt;
 font-family: 'Inter';
 color: #333333;
 background-color: #ffffff;
 vertical-align: sub;
}
span.rvts40
{
 font-family: 'Inter';
 color: #3f3f3f;
}
span.rvts41
{
 font-size: 12pt;
 font-family: 'Inter';
 color: #3f3f3f;
}
span.rvts42
{
 font-size: 12pt;
 font-family: 'Inter';
 color: #0070c0;
 text-decoration: underline;
}
span.rvts43
{
 font-size: 12pt;
 font-family: 'Inter';
 font-weight: bold;
}
span.rvts44
{
 font-size: 12pt;
 font-family: 'Inter';
}
span.rvts45
{
 font-size: 12pt;
 font-family: 'Inter';
 font-style: italic;
}
a.rvts46, span.rvts46
{
 font-size: 12pt;
 font-family: 'Inter';
 text-decoration: none;
}
span.rvts47
{
 font-size: 12pt;
 font-family: 'Inter';
 font-weight: bold;
 color: #f0b400;
}
span.rvts48
{
 font-size: 12pt;
 font-family: 'Inter';
 color: #f0b400;
}
span.rvts49
{
 font-size: 18pt;
 font-family: 'Inter';
 font-weight: bold;
 color: #000000;
}
span.rvts50
{
 font-size: 12pt;
 font-family: 'Inter';
 font-style: italic;
 font-weight: bold;
}
span.rvts51
{
 font-size: 11pt;
 font-family: 'Inter';
 color: #000000;
}
span.rvts52
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #000000;
}
span.rvts53
{
 font-size: 12pt;
 font-family: 'Inter';
 color: #000000;
 background-color: #ffff00;
}
span.rvts54
{
 font-size: 12pt;
 font-family: 'Inter';
 font-weight: bold;
 color: #000000;
 background-color: #ffff00;
}
span.rvts55
{
 font-size: 12pt;
 font-family: 'Tahoma', 'Geneva', sans-serif;
 color: #000000;
}
span.rvts56
{
 font-size: 12pt;
 font-family: 'Tahoma', 'Geneva', sans-serif;
 color: #000000;
}
span.rvts57
{
 font-size: 12pt;
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-weight: bold;
 color: #000000;
}
span.rvts58
{
 font-size: 12pt;
 font-family: 'Tahoma', 'Geneva', sans-serif;
 color: ;
 background-color: #ffffff;
}
a.rvts59, span.rvts59
{
 font-size: 12pt;
 font-family: 'Tahoma', 'Geneva', sans-serif;
 color: ;
 background-color: #ffffff;
 text-decoration: none;
}
span.rvts60
{
 font-size: 12pt;
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: ;
 background-color: #ffffff;
}
span.rvts61
{
 font-size: 12pt;
 font-family: 'Tahoma', 'Geneva', sans-serif;
 color: ;
}
a.rvts62, span.rvts62
{
 font-size: 12pt;
 font-family: 'Inter';
 color: ;
 text-decoration: none;
}
span.rvts63
{
 font-size: 12pt;
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-weight: bold;
 color: ;
 background-color: #ffffff;
}
span.rvts64
{
 font-size: 12pt;
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-weight: bold;
 color: ;
}
a.rvts65, span.rvts65
{
 font-size: 12pt;
 font-family: 'Inter';
 color: #00a5ff;
 text-decoration: underline;
}
span.rvts66
{
 font-size: 12pt;
 font-family: 'Inter';
 color: #00a5ff;
}
span.rvts67
{
 font-size: 12pt;
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-weight: bold;
 color: #000000;
}
span.rvts68
{
 font-size: 11pt;
 font-family: 'Tahoma', 'Geneva', sans-serif;
 color: #000000;
}
span.rvts69
{
 font-size: 14pt;
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-weight: bold;
 color: #000000;
}
span.rvts70
{
 font-size: 14pt;
 font-family: 'Inter';
 font-weight: bold;
 color: #000000;
}
a.rvts71, span.rvts71
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #00a5ff;
 text-decoration: underline;
}
span.rvts72
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #00a5ff;
}
span.rvts73
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: ;
}
a.rvts74, span.rvts74
{
 font-size: 11pt;
 font-family: 'Tahoma', 'Geneva', sans-serif;
 color: #007bbf;
 text-decoration: underline;
}
span.rvts75
{
 font-size: 11pt;
 font-family: 'Tahoma', 'Geneva', sans-serif;
 color: #000000;
}
span.rvts76
{
 font-size: 11pt;
 font-family: 'Tahoma', 'Geneva', sans-serif;
 color: ;
}
span.rvts77
{
 font-size: 11pt;
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #000000;
}
span.rvts78
{
 font-size: 11pt;
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-weight: bold;
 color: #000000;
}
a.rvts79, span.rvts79
{
 font-size: 12pt;
 font-family: 'Inter';
 color: ;
 text-decoration: underline;
}
span.rvts80
{
 font-size: 12pt;
 color: #000000;
}
span.rvts81
{
 font-size: 12pt;
 color: ;
}
span.rvts82
{
 font-size: 12pt;
 font-family: 'Inter';
 font-weight: bold;
 color: ;
}
span.rvts83
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #ffffee;
}
a.rvts84, span.rvts84
{
 font-size: 12pt;
 font-family: 'Inter';
 color: #000000;
 text-decoration: none;
}
span.rvts85
{
 font-size: 12pt;
 font-family: 'Courier New', 'Courier', monospace;
 font-weight: bold;
 color: ;
}
span.rvts86
{
 font-size: 12pt;
 font-family: 'Inter';
 color: #000000;
}
span.rvts87
{
 font-size: 14pt;
 font-family: 'Inter';
 font-weight: bold;
 color: #ffffff;
}
span.rvts88
{
 font-size: 14pt;
 font-family: 'Inter';
 font-weight: bold;
 color: ;
}
span.rvts89
{
 font-size: 23pt;
 font-family: 'Inter';
 font-weight: bold;
 color: #333333;
}
span.rvts90
{
 font-size: 11pt;
 font-family: 'Inter';
 color: #333333;
 background-color: #ffffff;
}
span.rvts91
{
 font-size: 12pt;
 font-family: 'Inter';
 font-style: italic;
 color: ;
 text-decoration: underline;
}
span.rvts92
{
 font-size: 14pt;
 font-family: 'Gill Sans MT';
 color: ;
}
span.rvts93
{
 font-size: 14pt;
 font-family: 'Gill Sans MT';
 font-weight: bold;
 color: ;
}
span.rvts94
{
 font-size: 14pt;
 font-family: 'Gill Sans MT';
 font-style: italic;
 color: ;
}
span.rvts95
{
 font-size: 9pt;
 font-family: 'Inter';
 font-weight: bold;
 color: ;
}
span.rvts96
{
 font-size: 9pt;
 font-family: 'Inter';
 color: #000000;
}
span.rvts97
{
 font-size: 9pt;
 font-family: 'Inter';
 color: ;
}
span.rvts98
{
 font-size: 7pt;
 font-family: 'Inter';
 color: #000000;
}
span.rvts99
{
 font-size: 7pt;
 font-family: 'Inter';
 color: ;
}
a.rvts100, span.rvts100
{
 font-size: 9pt;
 font-family: 'Inter';
 color: #007bbf;
 text-decoration: underline;
}
span.rvts101
{
 font-size: 9pt;
 font-family: 'Inter';
 color: #000000;
}
span.rvts102
{
 font-size: 12pt;
 font-family: 'Inter';
 color: #ff0000;
}
span.rvts103
{
 font-size: 12pt;
 font-family: 'Courier New', 'Courier', monospace;
 color: ;
}
span.rvts104
{
 font-size: 12pt;
 font-family: 'Inter';
 font-weight: bold;
 color: #ff0000;
}
span.rvts105
{
 font-size: 12pt;
 font-family: 'Courier New', 'Courier', monospace;
 color: #007bbf;
}
a.rvts106, span.rvts106
{
 font-size: 12pt;
 font-family: 'Inter';
 font-weight: bold;
 color: #007bbf;
 text-decoration: underline;
}
a.rvts107, span.rvts107
{
 font-size: 12pt;
 font-family: 'Inter';
 font-weight: bold;
 color: #007bbf;
 text-decoration: underline;
}
span.rvts108
{
 font-size: 12pt;
 font-family: 'Inter';
 color: #007bbf;
 text-decoration: underline;
}
span.rvts109
{
 font-size: 11pt;
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-weight: bold;
 color: ;
}
span.rvts110
{
 font-size: 12pt;
 font-style: italic;
 color: #000000;
}
span.rvts111
{
 font-size: 12pt;
 font-weight: bold;
 color: #000000;
}
span.rvts112
{
 font-size: 12pt;
 color: #000000;
}
span.rvts113
{
 font-size: 12pt;
 font-weight: bold;
 color: ;
}
a.rvts114, span.rvts114
{
 font-size: 12pt;
 color: #007bbf;
 text-decoration: underline;
}
span.rvts115
{
 font-size: 12pt;
 font-style: italic;
 color: ;
}
span.rvts116
{
 font-size: 14pt;
 font-weight: bold;
 color: ;
}
span.rvts117
{
 font-size: 12pt;
 color: #000000;
 background-color: #ffffff;
}
span.rvts118
{
 font-size: 12pt;
 font-weight: bold;
 color: #000000;
 background-color: #ffffff;
}
span.rvts119
{
 font-size: 12pt;
 font-family: 'Courier New', 'Courier', monospace;
 color: #007bbf;
}
span.rvts120
{
 font-size: 12pt;
 font-family: 'Inter';
 font-style: italic;
 font-weight: bold;
 color: ;
}
span.rvts121
{
 font-size: 14pt;
 font-family: 'Inter';
 font-weight: bold;
}
span.rvts122
{
 font-size: 13pt;
 font-family: 'Inter';
 font-weight: bold;
}
span.rvts123
{
 font-size: 12pt;
 font-family: 'Inter';
 font-style: italic;
 color: #000000;
}
span.rvts124
{
 font-size: 12pt;
 font-family: 'Inter';
 font-weight: bold;
 color: #ffff00;
 background-color: #000000;
}
span.rvts125
{
 font-size: 12pt;
 font-family: 'Inter';
 font-weight: bold;
 color: #ff0000;
 background-color: #000000;
}
span.rvts126
{
 font-size: 12pt;
 font-family: 'Courier New', 'Courier', monospace;
 font-style: italic;
 color: #000000;
}
span.rvts127
{
 font-size: 12pt;
 font-family: 'Inter';
 color: #000000;
 background-color: #f7f7f7;
}
span.rvts128
{
 font-size: 12pt;
 font-family: 'Inter';
 color: #3a87ad;
}
/* ========== Para Styles ========== */
p,ul,ol /* Paragraph Style */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps1 /* Centered */
{
 text-align: center;
}
.rvps2
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
}
.rvps3
{
 text-align: center;
}
.rvps4 /* Paragraph Style */
{
 text-align: center;
 border-color: #c0c0c0;
 border-style: solid;
 border-width: 1px;
 border-right: none;
 border-left: none;
 padding: 2px 0px 2px 0px;
 margin: 7px 0px 7px 0px;
}
.rvps5
{
 margin: 0px 12px 0px 12px;
}
.rvps6
{
 text-align: center;
}
.rvps7
{
}
.rvps8
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 7px 0px 7px 32px;
}
.rvps9
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
}
.rvps10
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 7px 0px 7px 0px;
}
.rvps11
{
}
.rvps12
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 0px 0px 0px 24px;
}
.rvps13
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 0px 0px 0px 48px;
}
.rvps14
{
 text-indent: 48px;
}
.rvps15
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 7px 4px 7px 4px;
}
.rvps16
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 1px 1px 1px 1px;
}
.rvps17
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: 48px;
}
.rvps18
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 0px 0px 0px 72px;
}
.rvps19
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 background: #ffffff;
}
.rvps20
{
 text-align: center;
 background: #ffffff;
}
.rvps21
{
 background: #ffffff;
}
.rvps22
{
 background: #ffffff;
 margin: 0px 0px 0px 24px;
}
.rvps23
{
 text-align: justify;
 text-align-last: auto;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 21px 0px 5px 0px;
}
.rvps24
{
 text-align: justify;
 text-align-last: auto;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 19px 0px 5px 0px;
}
.rvps25
{
 text-align: center;
 margin: 7px 0px 7px 0px;
}
.rvps26
{
 text-align: justify;
 text-align-last: auto;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 15px 0px 15px 0px;
}
.rvps27
{
 text-align: justify;
 text-align-last: auto;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 33px 0px 33px 0px;
}
.rvps28
{
 text-align: justify;
 text-align-last: auto;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps29
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
}
.rvps30
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 0px 0px 13px 0px;
}
.rvps31
{
 text-align: justify;
 text-align-last: auto;
 text-indent: 0px;
 background: #ffffff;
 padding: 0px 0px 0px 0px;
 margin: 20px 0px 10px 0px;
}
.rvps32
{
 text-align: justify;
 text-align-last: auto;
 text-indent: 0px;
 background: #ffffff;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps33
{
 margin: 0px 0px 0px 24px;
}
.rvps34
{
 text-align: center;
 margin: 0px 0px 0px 24px;
}
.rvps35
{
 text-align: center;
 margin: 0px 0px 0px 48px;
}
.rvps36
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 line-height: 1.15;
 margin: 0px 0px 13px 0px;
}
.rvps37
{
 text-align: justify;
 text-align-last: auto;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 19px 0px 19px 0px;
}
.rvps38
{
 text-align: justify;
 text-align-last: auto;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 27px 0px 27px 0px;
}
.rvps39
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 7px 0px 7px 0px;
}
.rvps40
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 0px 0px 0px 16px;
}
.rvps41
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 7px 0px 7px 24px;
}
.rvps42
{
 text-align: center;
 margin: 0px 0px 0px 16px;
}
.rvps43
{
 text-align: justify;
 text-align-last: auto;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 19px 0px 19px 0px;
}
.rvps44
{
 text-align: center;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 27px 0px 27px 0px;
}
.rvps45
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 background: #ffffff;
 margin: 7px 0px 7px 0px;
}
.rvps46
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 background: #ffffff;
 padding: 0px 0px 0px 40px;
}
.rvps47
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 background: #ffffff;
 padding: 0px 0px 0px 40px;
 margin: 7px 0px 7px 0px;
}
.rvps48
{
 text-align: justify;
 text-align-last: auto;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 24px 0px 24px 0px;
}
.rvps49
{
 text-align: center;
 background: #ffffff;
 margin: 7px 0px 7px 0px;
}
.rvps50
{
 text-align: justify;
 text-align-last: auto;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 18px 0px 18px 0px;
}
.rvps51
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
}
.rvps52
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 1px 1px 1px 1px;
}
.rvps53
{
 text-align: justify;
 text-align-last: auto;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 19px 0px 19px 0px;
}
.rvps54
{
 text-align: center;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 24px 0px 24px 0px;
}
.rvps55
{
 text-align: center;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps56
{
 margin: 7px 0px 7px 0px;
}
/* ========== Lists ========== */
.list0 {text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside;}
.list1 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside;}
.list2 {text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside; list-style-type: disc;}
.list3 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: circle;}
.list4 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: square;}
.list5 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: disc;}
.list6 {text-indent: 0px; padding: 0; margin: 0 0 0 40px; list-style-position: outside;}
.list7 {text-indent: 0px; padding: 0; margin: 0 0 0 40px; list-style-position: outside; list-style-type: disc;}
.list8 {text-indent: 0px; padding: 0; margin: 0 0 0 40px; list-style-position: outside; list-style-type: circle;}
.list9 {text-indent: 0px; padding: 0; margin: 0 0 0 40px; list-style-position: outside; list-style-type: square;}
.list10 {text-indent: 0px; padding: 0; margin: 0 0 0 0px; list-style-position: inside; list-style-type: disc;}
.list11 {text-indent: 0px; padding: 0; margin: 0 0 0 0px; list-style-position: inside; list-style-type: circle;}
.list12 {text-indent: 0px; padding: 0; margin: 0 0 0 0px; list-style-position: inside; list-style-type: square;}
.list13 {text-indent: 0px; padding: 0; margin: 0 0 0 32px; list-style-position: outside; list-style-type: disc;}
.list14 {text-indent: 0px; padding: 0; margin: 0 0 0 32px; list-style-position: outside; list-style-type: circle;}
.list15 {text-indent: 0px; padding: 0; margin: 0 0 0 32px; list-style-position: outside; list-style-type: square;}
.list16 {text-indent: 0px; padding: 0; margin: 0 0 0 25px; list-style-position: outside;}
.list17 {text-indent: 0px; padding: 0; margin: 0 0 0 0px; list-style-position: outside; list-style-type: circle;}
.list18 {text-indent: 0px; padding: 0; margin: 0 0 0 0px; list-style-position: outside; list-style-type: square;}
.list19 {text-indent: 0px; padding: 0; margin: 0 0 0 0px; list-style-position: inside;}
.list20 {text-indent: 0px; padding: 0; margin: 0 0 0 80px; list-style-position: outside; list-style-type: disc;}
.list21 {text-indent: 0px; padding: 0; margin: 0 0 0 80px; list-style-position: outside; list-style-type: square;}
.list22 {text-indent: 5px; padding: 0; margin: 0 0 0 47px; list-style-position: outside; list-style-type: disc;}
