/* ========== Text Styles ========== */
hr { color: #000000}
.main-content, .main-content table span.rvts0 /* Normal text */
{
 font-size: 10pt;
 font-family: 'Arial', 'Helvetica', sans-serif;
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.rvts1 /* Heading */
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts2 /* Subheading */
{
 font-weight: bold;
 color: #000080;
}
span.rvts3 /* Keywords */
{
 font-style: italic;
 color: #800000;
}
a.rvts4, span.rvts4 /* Jump 1 */
{
 color: #008000;
 text-decoration: underline;
}
a.rvts5, span.rvts5 /* Jump 2 */
{
 color: #008000;
 text-decoration: underline;
}
span.rvts6
{
 font-size: 12pt;
 font-family: 'Inter';
 color: #000000;
}
span.rvts7
{
 font-size: 12pt;
 font-family: 'Inter';
 font-weight: bold;
 color: #0000ff;
}
span.rvts8
{
 font-size: 12pt;
 font-family: 'Inter';
 font-weight: bold;
 color: #000080;
}
span.rvts9
{
 font-size: 12pt;
 font-family: 'Inter';
 font-style: italic;
 color: #800000;
}
a.rvts10, span.rvts10
{
 font-size: 12pt;
 font-family: 'Inter';
 color: #008000;
 text-decoration: underline;
}
span.rvts11
{
 font-size: 42pt;
 font-family: 'Inter';
 color: #000000;
}
span.rvts12 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #c0c0c0;
}
a.rvts13, span.rvts13 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #6666ff;
 text-decoration: underline;
}
a.rvts14, span.rvts14
{
 font-size: 12pt;
 font-family: 'Inter';
 color: #007bbf;
 text-decoration: underline;
}
span.rvts15
{
 font-size: 11pt;
 font-weight: bold;
 color: #ffffff;
}
span.rvts16
{
 font-size: 11pt;
 font-weight: bold;
 color: #ffffff;
}
span.rvts17
{
 font-size: 11pt;
 font-weight: bold;
 color: transparent;
 vertical-align: super;
}
span.rvts18
{
 font-size: 11pt;
 font-weight: bold;
 color: transparent;
}
span.rvts19
{
 font-size: 9pt;
 font-family: 'Inter';
 color: #ff0000;
}
span.rvts20
{
 font-size: 12pt;
 font-family: 'Inter';
 font-weight: bold;
 color: #000000;
}
span.rvts21
{
 font-size: 12pt;
 font-family: 'Inter';
 font-style: italic;
 color: #000000;
}
span.rvts22
{
 font-size: 12pt;
 font-family: 'Inter';
 font-weight: bold;
 color: #ffffff;
}
span.rvts23
{
 font-size: 12pt;
 font-family: 'Inter';
 color: #007bbf;
}
span.rvts24
{
 font-size: 12pt;
 font-family: 'Inter';
 color: transparent;
}
span.rvts25
{
 font-size: 12pt;
 color: #000000;
}
span.rvts26
{
 font-size: 12pt;
 color: #000000;
}
a.rvts27, span.rvts27
{
 font-size: 12pt;
 color: #007bbf;
 text-decoration: underline;
}
span.rvts28
{
 font-size: 12pt;
 font-weight: bold;
 color: #000000;
}
span.rvts29
{
 font-size: 12pt;
 font-weight: bold;
 color: transparent;
}
span.rvts30
{
 font-size: 12pt;
 font-weight: bold;
 color: transparent;
 vertical-align: super;
}
span.rvts31
{
 font-size: 12pt;
 font-weight: bold;
 color: #ffffff;
}
span.rvts32
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #000000;
}
span.rvts33
{
 font-size: 12pt;
 font-family: 'lucida sans';
 color: #000000;
}
span.rvts34
{
 font-size: 12pt;
 font-family: 'lucida sans';
 color: #000000;
 text-decoration: underline;
}
span.rvts35
{
 font-size: 12pt;
 font-family: 'Inter';
 color: #007bbf;
 text-decoration: underline;
}
span.rvts36
{
 font-size: 12pt;
 font-weight: bold;
 color: #ffffff;
}
span.rvts37
{
 font-size: 12pt;
 font-family: 'Inter';
 font-weight: bold;
 color: #ffffff;
}
span.rvts38
{
 font-size: 16pt;
 font-family: 'Inter';
 color: #000000;
}
span.rvts39
{
 font-size: 11pt;
 font-family: 'Inter';
 color: #000000;
}
span.rvts40
{
 font-size: 11pt;
 font-family: 'Inter';
 font-weight: bold;
 color: #000000;
}
span.rvts41
{
 font-size: 12pt;
 font-weight: bold;
 color: #000000;
}
span.rvts42
{
 font-size: 12pt;
 font-family: 'Courier New', 'Courier', monospace;
 font-weight: bold;
 color: #000000;
}
span.rvts43
{
 font-size: 12pt;
 font-family: 'Inter';
 font-weight: bold;
}
span.rvts44
{
 font-size: 12pt;
 font-family: 'Inter';
 font-weight: bold;
 color: #ff0000;
}
span.rvts45
{
 font-size: 12pt;
 font-family: 'Inter';
 color: #ff0000;
}
span.rvts46
{
 font-size: 12pt;
 font-family: 'Inter';
 font-weight: bold;
 color: #007bbf;
}
span.rvts47
{
 font-size: 12pt;
 font-family: 'Inter';
 font-weight: bold;
 color: #007bbf;
}
span.rvts48
{
 font-size: 12pt;
 font-family: 'Inter';
 color: #007bbf;
}
a.rvts49, span.rvts49
{
 font-size: 12pt;
 font-family: 'Inter';
 color: #007bbf;
 text-decoration: underline;
}
a.rvts49:hover
{
 color: #007bbf;
}
span.rvts50
{
 font-size: 12pt;
 font-family: 'Courier New', 'Courier', monospace;
 color: #000000;
}
span.rvts51
{
 font-size: 12pt;
 font-family: 'Inter';
 font-weight: bold;
 color: transparent;
}
span.rvts52
{
 font-size: 12pt;
 font-family: 'Inter';
 font-weight: bold;
 color: #000000;
}
span.rvts53
{
 font-size: 12pt;
 font-family: 'Inter';
 color: #000000;
}
span.rvts54
{
 font-size: 12pt;
 font-weight: bold;
 color: #ff0000;
}
span.rvts55
{
 font-size: 13pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #000000;
}
span.rvts56
{
 font-size: 14pt;
 font-family: 'Inter';
 font-weight: bold;
 color: #000000;
}
span.rvts57
{
 font-size: 13pt;
 font-family: 'Inter';
 font-weight: bold;
 color: #000000;
}
span.rvts58
{
 font-size: 13pt;
 font-family: 'Inter';
 color: #000000;
}
a.rvts59, span.rvts59
{
 font-size: 12pt;
 font-family: 'Inter';
 color: #000000;
 text-decoration: underline;
}
span.rvts60
{
 font-size: 12pt;
 font-family: 'Inter';
 color: #000000;
 background-color: #ffffff;
}
span.rvts61
{
 font-size: 13pt;
 font-family: 'Inter';
 color: transparent;
}
span.rvts62
{
 font-size: 13pt;
 font-family: 'Inter';
 font-weight: bold;
 color: transparent;
}
span.rvts63
{
 font-size: 11pt;
 font-family: 'Inter';
 color: #202124;
 background-color: #ffffff;
}
span.rvts64
{
 font-size: 14pt;
 font-family: 'Inter';
 font-weight: bold;
 color: #202124;
 background-color: #ffffff;
}
span.rvts65
{
 font-size: 12pt;
 font-family: 'Inter';
 color: #333333;
 background-color: #ffffff;
}
span.rvts66
{
 font-size: 12pt;
 color: #333333;
 background-color: #ffffff;
}
span.rvts67
{
 color: #3f3f3f;
}
span.rvts68
{
 font-size: 12pt;
 font-style: italic;
 color: #333333;
 background-color: #ffffff;
}
span.rvts69
{
 font-size: 8pt;
 color: #333333;
 background-color: #ffffff;
 vertical-align: sub;
}
span.rvts70
{
 font-size: 12pt;
 font-weight: bold;
 color: #333333;
 background-color: #ffffff;
}
span.rvts71
{
 font-size: 12pt;
 font-family: 'Inter';
 color: #0070c0;
 text-decoration: underline;
}
span.rvts72
{
 font-size: 12pt;
 color: #212529;
}
span.rvts73
{
 font-size: 12pt;
 font-style: italic;
 color: #212529;
}
span.rvts74
{
 font-size: 12pt;
 font-family: 'Inter';
 font-weight: bold;
}
span.rvts75
{
 font-size: 12pt;
 font-family: 'Inter';
}
span.rvts76
{
 font-size: 12pt;
 font-family: 'Inter';
 font-style: italic;
}
a.rvts77, span.rvts77
{
 font-size: 12pt;
 font-family: 'Inter';
 text-decoration: none;
}
span.rvts78
{
 font-size: 12pt;
 font-family: 'Inter';
 font-weight: bold;
 color: #f0b400;
}
span.rvts79
{
 font-size: 12pt;
 font-family: 'Inter';
 color: #f0b400;
}
span.rvts80
{
 font-size: 12pt;
 color: transparent;
}
span.rvts81
{
 font-size: 18pt;
 font-family: 'Inter';
 font-weight: bold;
 color: #000000;
}
span.rvts82
{
 font-size: 11pt;
 color: #000000;
}
span.rvts83
{
 font-size: 12pt;
 font-weight: bold;
 color: transparent;
}
a.rvts84, span.rvts84
{
 font-size: 12pt;
 font-weight: bold;
 color: #000000;
 text-decoration: underline;
}
span.rvts85
{
 font-size: 12pt;
 color: #000000;
 background-color: #ffff00;
}
span.rvts86
{
 font-size: 12pt;
 font-weight: bold;
 color: #000000;
 background-color: #ffff00;
}
span.rvts87
{
 font-size: 12pt;
 font-weight: bold;
}
span.rvts88
{
 font-size: 12pt;
}
span.rvts89
{
 font-size: 14pt;
 font-weight: bold;
}
span.rvts90
{
 font-size: 11pt;
 color: #0a3069;
 background-color: #000000;
}
span.rvts91
{
 font-size: 12pt;
 font-style: italic;
}
span.rvts92
{
 font-size: 12pt;
 font-family: 'Tahoma', 'Geneva', sans-serif;
 color: transparent;
}
a.rvts93, span.rvts93
{
 font-size: 12pt;
 font-family: 'Inter';
 font-weight: bold;
 color: #007bbf;
 text-decoration: underline;
}
span.rvts94
{
 font-size: 12pt;
 font-family: 'Tahoma', 'Geneva', sans-serif;
 color: transparent;
 background-color: #ffffff;
}
span.rvts95
{
 font-size: 12pt;
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-weight: bold;
 color: transparent;
 background-color: #ffffff;
}
a.rvts96, span.rvts96
{
 font-size: 12pt;
 font-family: 'Inter';
 color: #00a5ff;
 text-decoration: underline;
}
span.rvts97
{
 font-size: 12pt;
 font-family: 'Inter';
 color: #00a5ff;
}
a.rvts98, span.rvts98
{
 font-size: 12pt;
 font-family: 'Inter';
 color: transparent;
 text-decoration: underline;
}
a.rvts99, span.rvts99
{
 font-size: 12pt;
 color: transparent;
 text-decoration: none;
}
span.rvts100
{
 font-size: 12pt;
 font-style: italic;
 color: transparent;
}
span.rvts101
{
 font-size: 12pt;
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-weight: bold;
 color: #000000;
}
span.rvts102
{
 font-size: 12pt;
 font-family: 'Tahoma', 'Geneva', sans-serif;
 color: #000000;
}
span.rvts103
{
 font-size: 11pt;
 font-family: 'Tahoma', 'Geneva', sans-serif;
 color: #000000;
}
span.rvts104
{
 font-size: 14pt;
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-weight: bold;
 color: #000000;
}
span.rvts105
{
 font-size: 12pt;
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-weight: bold;
 color: #000000;
}
a.rvts106, span.rvts106
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #00a5ff;
 text-decoration: underline;
}
span.rvts107
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #00a5ff;
}
span.rvts108
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: transparent;
}
a.rvts109, span.rvts109
{
 font-size: 11pt;
 font-family: 'Tahoma', 'Geneva', sans-serif;
 color: #007bbf;
 text-decoration: underline;
}
span.rvts110
{
 font-size: 11pt;
 font-family: 'Tahoma', 'Geneva', sans-serif;
 color: #000000;
}
span.rvts111
{
 font-size: 11pt;
 font-family: 'Tahoma', 'Geneva', sans-serif;
 color: transparent;
}
span.rvts112
{
 font-size: 11pt;
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #000000;
}
span.rvts113
{
 font-size: 11pt;
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-weight: bold;
 color: #000000;
}
a.rvts114, span.rvts114
{
 font-size: 12pt;
 font-family: 'Inter';
 color: #1155cc;
 text-decoration: underline;
}
a.rvts115, span.rvts115
{
 font-size: 12pt;
 color: transparent;
 text-decoration: underline;
}
span.rvts116
{
 font-size: 13pt;
 color: #000000;
}
span.rvts117
{
 font-size: 13pt;
 color: #000000;
}
span.rvts118
{
 font-size: 12pt;
 font-family: 'Inter';
 color: #000000;
}
span.rvts119
{
 font-family: 'Inter';
 font-weight: bold;
 color: transparent;
}
a.rvts120, span.rvts120
{
 font-size: 12pt;
 color: #1155cc;
 text-decoration: underline;
}
span.rvts121
{
 font-size: 12pt;
 font-family: 'Inter';
 font-style: italic;
 color: transparent;
}
span.rvts122
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #ffffee;
}
a.rvts123, span.rvts123
{
 font-size: 12pt;
 font-family: 'Inter';
 color: #000000;
 text-decoration: none;
}
span.rvts124
{
 font-size: 12pt;
 font-family: 'Courier New', 'Courier', monospace;
 font-weight: bold;
 color: transparent;
}
span.rvts125
{
 font-weight: bold;
 color: #ffffff;
}
span.rvts126
{
 color: #ffffff;
}
span.rvts127
{
 color: #000000;
}
span.rvts128
{
 color: transparent;
}
span.rvts129
{
 font-size: 9pt;
 font-family: 'Inter';
 font-weight: bold;
 color: transparent;
}
span.rvts130
{
 font-size: 9pt;
 font-family: 'Inter';
 color: #000000;
}
span.rvts131
{
 font-size: 9pt;
 font-family: 'Inter';
 color: transparent;
}
span.rvts132
{
 font-size: 7pt;
 font-family: 'Inter';
 color: #000000;
}
span.rvts133
{
 font-size: 7pt;
 font-family: 'Inter';
 color: transparent;
}
a.rvts134, span.rvts134
{
 font-size: 9pt;
 font-family: 'Inter';
 color: #007bbf;
 text-decoration: underline;
}
span.rvts135
{
 font-size: 9pt;
 font-family: 'Inter';
 color: #000000;
}
span.rvts136
{
 font-size: 12pt;
 font-family: 'Inter';
 color: #ff0000;
}
span.rvts137
{
 font-size: 12pt;
 font-family: 'Courier New', 'Courier', monospace;
 color: transparent;
}
span.rvts138
{
 font-size: 12pt;
 font-family: 'Inter';
 font-style: italic;
 font-weight: bold;
 color: transparent;
}
a.rvts139, span.rvts139
{
 font-size: 12pt;
 color: #000000;
 text-decoration: underline;
}
span.rvts140
{
 font-size: 13pt;
 color: transparent;
}
span.rvts141
{
 font-size: 12pt;
 font-family: 'Inter';
 font-style: italic;
 color: #000000;
 text-decoration: underline;
}
span.rvts142
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #000000;
}
a.rvts143, span.rvts143
{
 font-size: 12pt;
 color: #000000;
 text-decoration: none;
}
span.rvts144
{
 font-size: 12pt;
 font-family: 'Tahoma', 'Geneva', sans-serif;
 color: #000000;
}
a.rvts145, span.rvts145
{
 font-size: 12pt;
 font-family: 'Tahoma', 'Geneva', sans-serif;
 color: #007bbf;
 text-decoration: underline;
}
span.rvts146
{
 font-size: 12pt;
 font-family: 'Inter';
 font-weight: bold;
 color: transparent;
}
span.rvts147
{
 font-size: 12pt;
 font-family: 'Courier New', 'Courier', monospace;
 color: #007bbf;
}
span.rvts148
{
 font-size: 12pt;
 font-family: 'Inter';
 font-weight: bold;
 color: #00b050;
}
a.rvts149, span.rvts149
{
 font-size: 12pt;
 font-family: 'Inter';
 font-weight: bold;
 color: #007bbf;
 text-decoration: underline;
}
span.rvts150
{
 font-size: 12pt;
 font-family: 'Inter';
 font-weight: bold;
}
span.rvts151
{
 font-size: 12pt;
 font-family: 'Inter';
 font-weight: bold;
}
/* ========== Para Styles ========== */
p,ul,ol /* Paragraph Style */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps1 /* Centered */
{
 text-align: center;
}
.rvps2
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
}
.rvps3
{
 text-align: center;
}
.rvps4 /* Paragraph Style */
{
 text-align: center;
 border-color: #c0c0c0;
 border-style: solid;
 border-width: 1px;
 border-right: none;
 border-left: none;
 padding: 2px 0px 2px 0px;
 margin: 7px 0px 7px 0px;
}
.rvps5
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 line-height: 1.80;
}
.rvps6
{
 border-color: #ff0000;
 border-style: solid;
 border-width: 5px;
 border-top: none;
 border-right: none;
 border-bottom: none;
 padding: 5px 5px 5px 5px;
}
.rvps7
{
 margin: 0px 12px 0px 12px;
}
.rvps8
{
 border-color: #ff0000;
 border-style: solid;
 border-width: 5px;
 border-top: none;
 border-right: none;
 border-bottom: none;
 background: #ff0000;
 padding: 10px 10px 10px 10px;
}
.rvps9
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 7px 0px 7px 32px;
}
.rvps10
{
 margin: 10px 12px 10px 12px;
}
.rvps11
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 line-height: 1.80;
 background: #ffffff;
}
.rvps12
{
 text-indent: 48px;
 line-height: 1.80;
 background: #ffffff;
 margin: 0px 0px 0px 192px;
}
.rvps13
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 line-height: 1.80;
 background: #ff0000;
 padding: 10px 10px 10px 10px;
}
.rvps14
{
 text-align: justify;
 text-align-last: auto;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 24px 0px 8px 0px;
}
.rvps15
{
 text-align: center;
 line-height: 1.80;
}
.rvps16
{
 text-align: center;
 line-height: 1.80;
 margin: 19px 0px 0px 0px;
}
.rvps17
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 line-height: 1.80;
 margin: 19px 0px 0px 0px;
}
.rvps18
{
 line-height: 1.80;
 margin: 19px 0px 0px 0px;
}
.rvps19
{
 text-align: center;
 line-height: 1.80;
 background: #ffffff;
}
.rvps20
{
 text-align: justify;
 text-align-last: auto;
 text-indent: 0px;
 line-height: 1.80;
 padding: 0px 0px 0px 0px;
 margin: 51px 0px 8px 0px;
}
.rvps21
{
 line-height: 1.80;
 border-color: #ff0000;
 border-style: solid;
 border-width: 5px;
 border-top: none;
 border-right: none;
 border-bottom: none;
 padding: 5px 5px 5px 5px;
}
.rvps22
{
 line-height: 1.80;
 border-color: #ff0000;
 border-style: solid;
 border-width: 5px;
 border-top: none;
 border-right: none;
 border-bottom: none;
 background: #ff0000;
 padding: 10px 10px 10px 10px;
}
.rvps23
{
 text-align: justify;
 text-align-last: auto;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 19px 0px 8px 0px;
}
.rvps24
{
 text-align: center;
 line-height: 1.80;
 margin: 0px 0px 0px 48px;
}
.rvps25
{
 text-align: justify;
 text-align-last: auto;
 text-indent: 0px;
 line-height: 1.80;
 padding: 0px 0px 0px 0px;
 margin: 19px 0px 5px 0px;
}
.rvps26
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 line-height: 1.80;
 margin: 20px 0px 20px 0px;
}
.rvps27
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 line-height: 1.80;
 margin: 20px 0px 0px 0px;
}
.rvps28
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 line-height: 1.80;
 margin: 0px 0px 20px 0px;
}
.rvps29
{
 line-height: 1.80;
}
.rvps30
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 line-height: 1.80;
 margin: 0px 0px 0px 24px;
}
.rvps31
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 line-height: 1.80;
 margin: 0px 0px 0px 48px;
}
.rvps32
{
 text-align: center;
 text-indent: 0px;
 line-height: 1.80;
 padding: 0px 0px 0px 0px;
 margin: 24px 0px 8px 0px;
}
.rvps33
{
 margin: 0px 12px 0px 12px;
}
.rvps34
{
 text-align: center;
}
.rvps35
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
}
.rvps36
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 7px 0px 7px 0px;
}
.rvps37
{
 line-height: 1.80;
 margin: 0px 12px 0px 12px;
}
.rvps38
{
 text-align: center;
 line-height: 1.80;
}
.rvps39
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 line-height: 1.80;
}
.rvps40
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 7px 4px 7px 4px;
}
.rvps41
{
}
.rvps42
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 0px 0px 0px 24px;
}
.rvps43
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 0px 0px 0px 48px;
}
.rvps44
{
 margin: 0px 0px 0px 48px;
}
.rvps45
{
 line-height: 1.80;
 margin: 0px 0px 0px 48px;
}
.rvps46
{
 line-height: 1.80;
 margin: 0px 0px 0px 96px;
}
.rvps47
{
 line-height: 1.80;
 margin: 0px 0px 0px 24px;
}
.rvps48
{
 margin: 16px 0px 4px 0px;
}
.rvps49
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 0px 0px 0px 72px;
}
.rvps50
{
 line-height: 1.80;
 background: #ffffff;
}
.rvps51
{
 text-indent: 48px;
}
.rvps52
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 line-height: 1.80;
 background: #ffffff;
 margin: 7px 0px 7px 0px;
}
.rvps53
{
 text-indent: 48px;
 line-height: 1.80;
}
.rvps54
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 line-height: 1.80;
 margin: 1px 1px 1px 1px;
}
.rvps55
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 line-height: 1.80;
 margin: 7px 4px 7px 4px;
}
.rvps56
{
 text-align: center;
 line-height: 1.80;
 margin: 0px 0px 0px 24px;
}
.rvps57
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: 48px;
 line-height: 1.80;
}
.rvps58
{
 text-align: center;
 text-indent: 48px;
 line-height: 1.80;
}
.rvps59
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 background: #ffffff;
}
.rvps60
{
 text-align: center;
 background: #ffffff;
}
.rvps61
{
 background: #ffffff;
}
.rvps62
{
 background: #ffffff;
 margin: 0px 0px 0px 24px;
}
.rvps63
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 background: #ffffff;
 margin: 0px 0px 0px 48px;
}
.rvps64
{
 background: #ffffff;
 margin: 0px 0px 0px 48px;
}
.rvps65
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 background: #ffffff;
 margin: 0px 0px 0px 120px;
}
.rvps66
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 background: #ffffff;
 margin: 0px 0px 0px 24px;
}
.rvps67
{
 line-height: 1.80;
 background: #ffffff;
 margin: 0px 0px 0px 48px;
}
.rvps68
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 line-height: 1.80;
 background: #ffffff;
 margin: 0px 0px 0px 48px;
}
.rvps69
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 line-height: 1.80;
 margin: 0px 0px 0px 72px;
}
.rvps70
{
 line-height: 1.80;
 background: #ffffff;
 margin: 0px 0px 0px 144px;
}
.rvps71
{
 line-height: 1.80;
 background: #ffffff;
 margin: 0px 0px 0px 96px;
}
.rvps72
{
 line-height: 1.80;
 background: #ffffff;
 margin: 0px 0px 0px 72px;
}
.rvps73
{
 text-align: center;
 background: #ffffff;
 margin: 0px 0px 0px 120px;
}
.rvps74
{
 background: #ffffff;
 margin: 0px 0px 0px 176px;
}
.rvps75
{
 background: #ffffff;
 margin: 0px 0px 0px 152px;
}
.rvps76
{
 line-height: 1.80;
 background: #ffffff;
 margin: 0px 0px 0px 176px;
}
.rvps77
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 line-height: 1.80;
 background: #ffffff;
 margin: 0px 0px 0px 24px;
}
.rvps78
{
 text-align: justify;
 text-align-last: auto;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 21px 0px 5px 0px;
}
.rvps79
{
 text-align: justify;
 text-align-last: auto;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 19px 0px 5px 0px;
}
.rvps80
{
 text-align: center;
 text-indent: 48px;
 line-height: 1.80;
 margin: 0px 0px 0px 24px;
}
.rvps81
{
 text-indent: 48px;
 line-height: 1.80;
 margin: 0px 0px 0px 24px;
}
.rvps82
{
 text-indent: 48px;
 line-height: 1.80;
 margin: 0px 0px 0px 48px;
}
.rvps83
{
 text-align: center;
 margin: 7px 0px 7px 0px;
}
.rvps84
{
 text-align: justify;
 text-align-last: auto;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 15px 0px 15px 0px;
}
.rvps85
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 line-height: 1.80;
 margin: 7px 0px 7px 0px;
}
.rvps86
{
 text-align: justify;
 text-align-last: auto;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 33px 0px 33px 0px;
}
.rvps87
{
 text-align: justify;
 text-align-last: auto;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps88
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
}
.rvps89
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 line-height: 1.80;
 margin: 0px 0px 13px 0px;
}
.rvps90
{
 text-align: center;
 background: #000000;
}
.rvps91
{
 margin: 0px 0px 0px 24px;
}
.rvps92
{
 text-align: center;
 margin: 0px 0px 0px 24px;
}
.rvps93
{
}
.rvps94
{
 text-align: justify;
 text-align-last: auto;
 text-indent: 0px;
 line-height: 1.80;
 padding: 0px 0px 0px 0px;
 margin: 15px 0px 15px 0px;
}
.rvps95
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 line-height: 1.80;
}
.rvps96
{
 text-align: justify;
 text-align-last: auto;
 text-indent: 0px;
 background: #ffffff;
 padding: 0px 0px 0px 0px;
 margin: 22px 0px 16px 0px;
}
.rvps97
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 line-height: 1.80;
 border-color: #dddddd;
 border-style: solid;
 border-width: 1px;
 border-top: none;
 border-right: none;
 border-left: none;
 padding: 5px 0px 5px 0px;
 margin: 0px 0px 0px 3px;
}
.rvps98
{
 line-height: 1.80;
 border-color: #dddddd;
 border-style: solid;
 border-width: 1px;
 border-top: none;
 border-right: none;
 border-left: none;
 padding: 5px 0px 5px 0px;
 margin: 0px 0px 0px 3px;
}
.rvps99
{
 text-align: left;
 text-indent: 0px;
 line-height: 1.80;
 padding: 0px 0px 0px 0px;
 margin: 22px 0px 16px 0px;
}
.rvps100
{
 text-align: justify;
 text-align-last: auto;
 text-indent: 0px;
 line-height: 1.80;
 padding: 0px 0px 0px 0px;
 margin: 22px 0px 16px 0px;
}
.rvps101
{
 text-align: justify;
 text-align-last: auto;
 text-indent: 0px;
 background: #ffffff;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps102
{
 text-align: justify;
 text-align-last: auto;
 text-indent: 0px;
 line-height: 1.80;
 background: #ffffff;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps103
{
 text-align: justify;
 text-align-last: auto;
 text-indent: 0px;
 line-height: 1.80;
 background: #ffffff;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 24px;
}
.rvps104
{
 text-align: justify;
 text-align-last: auto;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 22px 0px 16px 0px;
}
.rvps105
{
 text-align: justify;
 text-align-last: auto;
 text-indent: 0px;
 line-height: 1.80;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps106
{
 text-align: justify;
 text-align-last: auto;
 text-indent: 0px;
 line-height: 1.80;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps107
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: 48px;
}
.rvps108
{
 text-align: center;
 line-height: 1.80;
 margin: 7px 0px 7px 0px;
}
.rvps109
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 line-height: 1.38;
 margin: 0px 0px 13px 0px;
}
/* ========== Lists ========== */
.list0 {text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside;}
.list1 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside;}
.list2 {text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside; list-style-type: disc;}
.list3 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: circle;}
.list4 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: square;}
.list5 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: disc;}
.list6 {text-indent: 0px; padding: 0; margin: 0 0 0 40px; list-style-position: outside;}
.list7 {text-indent: 0px; padding: 0; margin: 0 0 0 40px; list-style-position: outside; list-style-type: disc;}
.list8 {text-indent: 0px; padding: 0; margin: 0 0 0 40px; list-style-position: outside; list-style-type: circle;}
.list9 {text-indent: 0px; padding: 0; margin: 0 0 0 40px; list-style-position: outside; list-style-type: square;}
.list10 {text-indent: 0px; padding: 0; margin: 0 0 0 40px; list-style-position: outside; list-style-type: lower-alpha;}
.list11 {text-indent: 0px; padding: 0; margin: 0 0 0 0px; list-style-position: inside; list-style-type: disc;}
.list12 {text-indent: 0px; padding: 0; margin: 0 0 0 0px; list-style-position: inside; list-style-type: circle;}
.list13 {text-indent: 0px; padding: 0; margin: 0 0 0 0px; list-style-position: inside; list-style-type: square;}
.list14 {text-indent: 0px; padding: 0; margin: 0 0 0 32px; list-style-position: outside; list-style-type: disc;}
.list15 {text-indent: 0px; padding: 0; margin: 0 0 0 32px; list-style-position: outside; list-style-type: circle;}
.list16 {text-indent: 0px; padding: 0; margin: 0 0 0 32px; list-style-position: outside; list-style-type: square;}
.list17 {text-indent: 0px; padding: 0; margin: 0 0 0 25px; list-style-position: outside;}
li.noindent { margin-left: 0; padding-left: 0; }
